/* .gradient-custom-2 {
    
    background: #dfd1d197;
    background: -webkit-linear-gradient(to right, #5c5678, blue, #471ded, #5b45b4);
    background: linear-gradient(to right, #bc9b84, #2608d2, #250ad6, #300fec);
  } */

  .bg-btn{
    color: gray;
  }
  
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
.d-flex > #test
{
  width: 400px; 
  
}

.logo{
  margin-top: -10px;
  width: 200px;
  height: 200px;
}






